<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
   <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.lastname.label}}<br>
                {{ form.lastname(size=32)}}
            </p>
            <p>
                {{ form.firstname.label}}<br>
                {{ form.firstname(size=32)}}
            </p>
            <p>
                {{ form.email.label}}<br>
                {{ form.email(size=32)}}
            </p>
            <p>
                {{ form.phone.label}}<br>
                {{ form.phone(size=32)}}
            </p>
            <h3> adresse </h3>
            <p>
                {{ form.nb_street.label}}<br>
                {{ form.nb_street(size=32)}}
            </p>
            <p>
                {{ form.street.label}}<br>
                {{ form.street(size=32)}}
            </p>
            <p>
                {{ form.zip.label}}<br>
                {{ form.zip(size=32)}}
            </p>
            <p>
                {{ form.city.label}}<br>
                {{ form.city(size=32)}}
            </p>
            <p>
                <h2>{{ form.marital_statue.label}}<br></h2>
                {% for subfield in form.marital_statue %}
                    <tr>
                        <td>{{ subfield }}</td>
                        <td>{{ subfield.label }}</td>
                        </tr>
                {% endfor %}
            </p>
            <p>
                {{ form.nb_child.label}}<br>
                {{ form.nb_child(size=32)}}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
</body>
</html>