{% extends "barre.html" %}

{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.lastname.label}}<br>
            {{ form.lastname(size=32)}}
        </p>
        <p>
            {{ form.firstname.label}}<br>
            {{ form.firstname(size=32)}}
        </p>
        <p>
            {{ form.email.label}}<br>
            {{ form.email(size=32)}}
        </p>
        <p>
            {{ form.phone.label}}<br>
            {{ form.phone(size=32)}}
        </p>
        <h2>Adresse</h2>
        <p>
            {{ form.nb_street.label}}<br>
            {{ form.nb_street(size=32)}}
        </p>
        <p>
            {{ form.street.label}}<br>
            {{ form.street(size=32)}}
        </p>
        <p>
            {{ form.zip.label}}<br>
            {{ form.zip(size=32)}}
        </p>
        <p>
            {{ form.city.label}}<br>
            {{ form.city(size=32)}}
        </p>
        <h2>{{ form.marital_statue.label}}<br></h2>
        {% for subfield in form.marital_statue %}
            <ul>
                <li>{{ subfield.label }}</li>
                <li>{{ subfield }}</li>
            </ul>
        {% endfor %}
        <p>
            {{ form.nb_child.label}}<br>
            {{ form.nb_child(size=32)}}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
