{% extends "barre_manager.html" %}

{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.mle.label}}<br>
            {{ form.mle(size=32)}}
        </p>
        <p>
            {{ form.lastname.label}}<br>
            {{ form.lastname(size=32)}}
        </p>
        <p>
            {{ form.firstname.label}}<br>
            {{ form.firstname(size=32)}}
        </p>
        <p>
            {{ form.email.label}}<br>
            {{ form.email(size=32)}}
        </p>
        <p>
            {{ form.phone.label}}<br>
            {{ form.phone(size=32)}}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
