{% extends 'bootstrap/base.html' %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main_style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/clean-blog.css') }}" />
{% endblock %}
{% block navbar %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('main.index')}}">GestiBank</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if current_user.type == "client" %}
                        <li class="nav-item">
                            <a href="{{ url_for('main.index_client') }}">{{_('My account')}}</a>
                        </li>
                    {% elif current_user.type == "manager" %}
                        <li class="nav-item">
                            <a href="{{ url_for('main.index_manager') }}">{{_('My account')}}</a>
                        </li>
                    {% elif current_user.type == "admin" %}
                        <li class="nav-item">
                            <a href="{{ url_for('main.index_admin') }}">{{_('My account')}}</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.event')}}">{{_('Event')}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.register')}}">{{_('Registration')}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=#>{{_('Employees')}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=#">{{_('Requests')}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=#>{{_('Account')}}</a>
                    </li>
                    {% if current_user.is_anonymous %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('auth.login')}}">{{_('Login')}}</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.logout') }}">{{_('Logout')}}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

{% endblock %}
{% block content %}
        <section>
            <div class="errors_message">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}
            </div>
            <!-- Instanciation du block content qui pourra être réutilisé dans d'autres fichiers -->
            {% block app_content %}{% endblock%}
        </section>
{% endblock%}
