{% extends 'bootstrap/base.html' %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main_style.css') }}" />

{% endblock %}
{% block navbar %}
    <header>
            <nav>
                <ul>
                    {% if current_user.type == "client" %}
                        <li>
                            <a href="{{ url_for('main.index_client') }}">{{_('Index')}}</a>
                        </li>
                    {% else %}
                        <li><a href="{{ url_for('main.index') }}">{{_('Home')}}</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('main.event')}}">{{_('Event')}}</a></li>
                    <li><a href="{{ url_for('auth.register')}}">{{_('Registration')}}</a></li>
                    <li>
                        {% if current_user.is_anonymous %}
                            <a href="{{url_for('auth.login')}}">{{_('Login')}}</a>
                        {% else %}
                            <a href="{{ url_for('auth.logout') }}">{{_('Logout')}}</a>
                        {% endif %}
                    </li>
                    <li>
                        <a href="{{url_for('auth.reset_password_request')}}">
                            {{_('Reset your password')}}
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
{% endblock %}
{% block content %}
        <section>
            <div class="errors_message">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}
            </div>
            <!-- Instanciation du block content qui pourra être réutilisé dans d'autres fichiers -->
            {% block app_content %}{% endblock%}
        </section>
{% endblock%}
