<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Gestibank</title>
        <!-- Avec flask pour utiliser href il faut utiliser la fonction url_for -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{ url_for('client.index') }}">{{_('My homepage')}}</a></li>
                    <li><a href="{{ url_for('client.account')}}">{{_('Account')}}</a></li>
                    <li>
                        <a href="{{url_for('auth.logout')}}">{{_('Logout')}}</a>
                    </li>
                </ul>
            </nav>
        </header>
        <section>
            <div class="errors_message">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}
            </div>
            <!-- Instanciation du block content qui pourra être réutilisé dans d'autres fichiers -->
            {% block content %}{% endblock%}
        </section>
    </body>
</html>
